@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
    display: flex;
    height : 500px ;
    width : 100px ;
    background-color: blueviolet;
}

.test2 {
    font-weight: bold;
    font-family : algerian;
}
